.download-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: white;
    background-color: #007bff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.download-button:hover {
    background-color: #0056b3;
}